<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mplayer.itunesmusicpreviewplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".android.MPlayerApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" />
</manifest>
